<!--詳細画面-->
<h2>タイトル</h2>
<p><%= @list.title %></p>
<h2>本文</h2>
<p><%= @list.body %></p>
<h2>画像</h2>
<%= attachment_image_tag @list, :image, :fill, 300, 300, format: 'jpeg' %>
<!--attachment_image_tag 表示する画像の入ったレコード, :画像のカラム名-->
<!--image_idとつけたが、imageなのは何故か？？-->
<%= link_to"編集",edit_todolist_path(@list.id) %>
<!--get 'todolists/:id/edit' => 'todolists#edit', as: 'edit_todolist'で定義しているのでedit_todolistのパスが使える？？？-->
<%= link_to "削除",destory_todolist_path(@list.id), method: :delete, "data-column" => "本当に削除しますか?"%>
<!--引数はmethod: :deleteを指定する-->